<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Notícia:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edite o post', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>

<br/><br/>
<h2>Comentários</h2>
  <div id="comments">
    <%= render @post.comments %>
  </div>

  <%= render 'comments/new', post: @post %>

</div>
