<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title)%> | BbcBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'shared/navbar' %>
  	<div class="container" <%= controller_name %> <%= action_name %> >
      <% flash.each do |key, message| %>
        <%= message %>
      <% end %>
    	<%= yield %>
  	</div>
  </body>
</html>
